parameters:
	level: 8
	paths:
		- src
		- tests
	excludePaths:
	    - src/config/configuration.php
	ignoreErrors:
		- '#Method Symfony\\Component\\DependencyInjection\\ContainerInterface@anonymous.*getParameter\(\) return type has no value type specified in iterable type array#'