parameters:
	level: 8
	treatPhpDocTypesAsCertain: false
	paths:
		- src
		- tests
		- benchmarks
	ignoreErrors:
		-
			message: '#never returns string so it can be removed from the return type#'
			paths:
				- tests/
				- benchmarks/
			reportUnmatched: false
		-
			message: '#Call to method.*on a separate line has no effect#'
			path: benchmarks/
			reportUnmatched: false